*{

}

body
{
  font-size: 35pt;
  margin: 0 auto;
  padding: 0;
  width: 95%;
  height: 100%;
  padding-left: 0px;
  padding-right: -20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-color: #212121; /* Цвет фона веб-страницы */
}

.main-footer{
  position: fixed;
  bottom: 0%;
  text-align: center;
}

::selection {
   background: transparent;
}
::-moz-selection {
   background: transparent;
}

@font-face {
font-family: "ProductSansRegular";
src: url("../fonts/PSr.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "ProductSansThin";
src: url("../fonts/PSt.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "ProductSansBold";
src: url("../fonts/PSb.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "ProductSansLight";
src: url("../fonts/PSl.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

a {
  color: WhiteSmoke;
  text-decoration: none;
}

a.button15 {
  font-family: "ProductSansBold";
  /*display: inline-block;*/
  font-size: 20px;
  color: WhiteSmoke;
  text-decoration: none;
  user-select: none;
  padding: .2em .8em;
  outline: none;
  border: 3px solid rgba(0,0,0,.1);
  border-radius: 10px;
  border-color: WhiteSmoke;
  background: transparent;
  transition: all .22s ease 0s;
}
a.button15:hover {
  color: rgb(24,24,24);
  /*border: 10px solid rgb(198,198,198);*/
  background: WhiteSmoke;
  /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/
  border-color: WhiteSmoke;
}
a.button15:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  transition: all .08s ease 0s;
  border-radius: 12px;
}

a.button16 {
  font-family: "ProductSansBold";
  /*display: inline-block;*/
  font-size: 20px;
  color: WhiteSmoke;
  text-decoration: none;
  user-select: none;
  padding: .6em .8em;
  outline: none;
  border: 0px solid rgba(0,0,0,.1);
  border-radius: 10px;
  border-color: WhiteSmoke;
  background: #424242;
  transition: all .22s ease 0s;
}
a.button16:hover {
  color: rgb(24,24,24);
  /*border: 10px solid rgb(198,198,198);*/
  background: WhiteSmoke;
  /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/
  border-color: WhiteSmoke;
}
a.button16:active {
  color: rgb(51,51,51);
  border: 0px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(200,200,200));
  /*box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;*/
  transition: all .08s ease 0s;
  border-radius: 10px;
}

.vendors {
  font-family: "ProductSansRegular";
  color: gray;
  font-size: 20px;
}

.vendors:hover {
  text-decoration: underline;
}

a.text-a:hover{
  text-decoration: underline;
}

footer {
  color: gray;
  font-size: 15px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "ProductSansRegular";
}

h1 {
  color: white;
	font-family: "ProductSansBold";
}

p {
  font-size: 30px;
  color: WhiteSmoke;
	font-family: "ProductSansRegular";
}

h2 {
  color: white;
  font-size: 30pt;
	font-family: "ProductSansBold";
}

.menu {
   position: fixed;
   right: 10px;
   top: 10%;
   padding: 20px;
   background: transparent;
   border: 0px solid rgba(0,0,0,.1);
   border-radius: 15px;
   font-family: "ProductSansBold";
   color: WhiteSmoke;
   border-color: WhiteSmoke;
  }

  .logo {
     position: fixed;
     right: 10%;
     bottom: 0%;
    }

  .text {
   height: 1000px;
  }

ul {
  font-family: "ProductSansBold";
  color: White;
  font-size: 25px;
}

li {
  padding-bottom: 30px;
}
